body {
  height: 3500px;
  /* background-color: black; */
  background-color: #201f21;
}

/* div{
  border:1px solid black;
} */

.container-fluid{
   padding: 0 0px !important;
}

.item{
      position: relative;
      text-align: center;
      color: white;
}

.container{
  /* margin-left: 0px;
  margin-right: 0px; */
}

.containing{
  position: relative;
}

.text-block {
   position: absolute;
   /* text-align: center; */
   background-color: blue;
   bottom: 30%;
   left: 50%;
   width:50%
   /* background-color: red; */
   color: white;
   /* align-text: center; */
}

.centered {
    position: absolute;
    /* top: 50%; */
    bottom: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.centered-sub {
    position: absolute;
    /* top: 50%; */
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.centered-subsub {
    position: absolute;
    /* top: 50%; */
    bottom: 18%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.centered-subsubsub {
    position: absolute;
    /* top: 50%; */
    bottom: 12%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.map-text{
  position: absolute;
  /* top: 50%; */
  bottom: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 21px;
}

.map-textsub{
  position: absolute;
  top: 60%;
  bottom: 10%;
  left: 38%;
  transform: translate(-50%, -50%);
  font-size: 21px;
}

.archive-main-img{
margin-top: 0px;
margin-bottom: 120px;
width: 50%;
color:white;
}

.archive-img-text{
  position: relative;
  text-align: center;
}

.archive-title{
margin-top: 60px;
font-size: 35px;
}

.archive-outline-img{
width: 70%;
}

.archive-text-block{
  text-align: left;
}

.archive-text {
    margin-bottom: 30px;
    font-size: 20px;
}

.logo{
  /* padding-left: 130px; */
  margin-left: 50px;
}

.showBorder{
  /* border: 1px solid red; */
}

.borderme {
  padding:0px;
  spacing: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.straggly{
  color:white;
  /* border:1px solid red; */
  text-align: center;
}
#archive{
  position:relative; top:-0px;
}

.navs{
  font-size: 25px;
  padding-left: 9%;
  padding-right: 11%;
margin-top: auto;
margin-bottom: auto;
vertical-align: middle;
background-color: #fff;
}

/*sticky header position*/
/* .sticky.is-sticky {
    position: fixed;
    /* left: 0;
    right: 0; */
    /* top: 0; */
    /* z-index: 1000; */
    /* width: 100%; */
/* }  */


nav {
  background: #fff;
  min-height: 85px;
}

.home {
  position: relative;
  /* height: 850px; */
  height: 100vh;
  /* width: 1280px; */
  /* width: 100%; */
    /* background-color: transparent;*/
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Style the navbar */
.seeds{
  color: white;
  text-align: right;
}

#navbar {
  /* border: 2px solid pink; */
  width:100%;
  overflow: hidden;
  background-color: white;
  padding-bottom: 0px;
  border-bottom: 1px solid black;
  z-index: 9999;
  /*margin-top: 0px; */
  /* margin-left: 0px;
  margin-right: 0px; */
}

/* Navbar links */

#navbar a {
    display: inline;
    color: black;
    text-align: right;
    text-decoration: none;
    /* height: 30px; */
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* height: 200px; */
}

#countup p {
    display: inline-block;
    color: white;
}

.menu-item{
  /* vertical-align: middle; */
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px;
}

#menu-link{
  vertical-align: middle;
  color:red;
}

.navbar-right{
  left: 0;
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}

.img-title{
  font-size: 68px;
}

.img-subtitle{
  font-size: 68px;
}

.img-subsubtitle{
  font-size: 68px;
}
#about{
  /* position:relative; */
  /* position:absolute;
  top:250px; */
  /* left: 10%; */
  /* margin-left: 10%;
  margin-right: 10%; */
}

.about {
    /* background-color: blueviolet; */
    /* padding-top: : 500px; */
    font-size: 35px;
    /* margin-left: 10%;
    margin-right: 10%; */
}

.archive {
    margin-top: 90px;
    /* background-color: darksalmon; */
}

.item{

}

/* .hr-archive {
    /* margin-top: 0px;
    margin-bottom: 30px;*/
    /* color: red;  */
/* }  */

hr{
  /* border-color: #EEEEEE -moz-use-text-color #FFFFFF; */
  /* border-style: solid none; */
  /* border-width: 7px 0; */
  /* margin: 0px 0; */
  /* margin: 0px 0; */
  /* padding: 0px 0; */
  margin-top: 0px;
  /* border: 0px solid white; */
  width: 110px;
  border-top: 1px solid white;
  /* color: white; */
  size: 10px;
}

.see{
  margin-bottom: 0px 0;
  margin: 0px 0;
  /* padding: 0px 0; */
  border: 0px solid white;
  font-size: 21px;
}

.distribution{
  /* border:2px solid blue; */
  margin-top: 120px;
  font-size: 35px;
}

.archivetitle{
  font-size: 60px;
  margin-bottom: 0px;
}


.home-link{
color: white;
}

.archive-search {
    background-color:black;
}

.first-archive {
    margin-top: 60px;
}

.habitat-names {
    padding-top: 120px;
    margin-bottom: 60px;
}

.archive-name {
    margin-top: 30px;
}

.archive-flower-name {
    color: white;

}


.btn-archive {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.search-text {
    color: white;
}

.search-text:hover { COLOR: green; }

.footer {
    height: 300px;
    /* background-color: coral; */
}

.collapse-container {
    padding-bottom: 60px;
}

.btn-archive {
    border-radius: 0px!important;
    background-color: black;
    color: white;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}


.common{
  margin-top: auto;
  margin-bottom: auto;
}

.commontext{
    padding-left: 10px;
    font-size: 15px;
}

.footerButton{
  margin-bottom: 20px;
  background-color: black;
}

#footer{
  background-color: black;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.footer {
    background-color:black;
}
/* .btn-text b{display:inline}
.btn-text:not(.collapsed)  span{display:none}
.btn-text.collapsed b {display:none} */
/* .text-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
  display: none;
} */
